/* Specificity Exercise */

/* X - Y - Z */
/* X = The number of ID selectors
   Y = The number of class, pseudoclass, and attribute selectors
   Z = The number of element and pseudoelement selectors 
*/

nav .list-item > a {
  color: var(--purple);
}

#main::first-letter {
  color: var(--purple);
}

input[type] {
  color: var(--purple);
}

section .main::first-line {
  color: var(--purple);
}

/* :not is not included so it is only two classes for Y. */
nav ul.menu li#first a:not([class="visited"]) {
  color: var(--purple);
}

div ol li ul li ol li ul li a {
  color: var(--purple);
}
