.flex-container {
  display: flex;
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */
.flex-container-1 {
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 2 */
.flex-container-2 {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  /* flex-flow: row-reverse wrap; */
}

/* Flex Container 3 */
.flex-container-3 {
  height: 400px;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  /* align-content: ; */
}

/* use height: 400px; on the container */

/* Flex Container 4 */

/* Flex Container 5 */

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
}

/* use height: 300px; on the container */
